body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            background-color: #f8faff;
            background-image: radial-gradient(at 0% 0%, hsla(221,100%,90%,1) 0, transparent 50%), 
                            radial-gradient(at 50% 0%, hsla(220,100%,95%,1) 0, transparent 50%);
            background-attachment: fixed;
            transition: all 0.5s ease;
            color: #0052FF;
            text-align: center;
        }
         @keyframes gradientBG {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }
        body.dark-mode {
            background-color: #050505;
            background-image: radial-gradient(at 0% 0%, hsla(225, 100%, 15%, 1) 0, transparent 50%), 
                            radial-gradient(at 100% 0%, hsla(250, 100%, 10%, 1) 0, transparent 50%);
            color: #0052FF; 
            text-shadow: 0 0 10px rgba(0, 82, 255, 0.5), 0 0 20px rgba(139, 169, 233, 0.2);
            text-align: center;
        }
      
        body.dark-mode  h1 {
            color: #0052FF; 
            text-shadow: 0 0 10px rgba(0, 82, 255, 0.5), 0 0 20px rgba(0, 82, 255, 0.2);
          
        }
        .bg-decor {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;  
            overflow: hidden;
        }

        .circle {
            position: absolute;
            border-radius: 50%;
            background: rgba(0, 82, 255, 0.1);
            filter: blur(50px);
            animation: float 20s infinite alternate;
        }

        .c1 { width: 400px; height: 400px; top: -100px; right: -100px; }
        .c2 { width: 300px; height: 300px; bottom: -50px; left: -50px; animation-delay: -5s; }

        @keyframes float {
            from { transform: translate(0, 0) scale(1); }
            to { transform: translate(50px, 100px) scale(1.2); }
        }
        .hamburger {
            display: flex; 
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            padding: 10px;
            z-index: 3000;
            width: 35px; 
        }

        .hamburger span {
            display: block;
            width: 100%;
            height: 4px;
            background-color: #0052FF; 
            border-radius: 2px;
        }
        .sidebar {
            height: 100%;
            width: 0; 
            position: fixed;
            z-index: 4000;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, #111 0%, #0052FF 100%);
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            box-shadow: 5px 0 15px rgba(0,0,0,0.5);
        }

        .sidebar a {
            padding: 15px 30px;
            text-decoration: none;
            font-size: 18px;
            color: #e0e0e0;
            display: block;
            transition: all 0.3s;
            border-left: 5px solid transparent; 
        }

        .sidebar a:hover {
            color: white;
            background-color: rgba(255, 255, 255, 0.1);
            border-left: 5px solid white; 
            padding-left: 40px; 
        }
        .sidebar .closebtn {
            position: absolute;
            top: 10px;
            right: 25px;
                font-size: 36px;
            }
        body.dark-mode {
            filter: invert(1) hue-rotate(180deg);
            background-color: #1a1a1a;
        }
        body.dark-mode img{
            filter : invert(1) hue-rotate(180deg);
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #ffffff;
            padding: 15px 50px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            position: sticky;
            top: 0;
            z-index: 1000;
            
         }
        .clock-style {
            font-family: 'Courier New', Courier, monospace; 
            background: #d1d4dd;
            color: #0052FF;
            padding: 5px 10px;
            border-radius: 5px;
            font-weight: bold;
            border: 1px solid #53d3f3;
            box-shadow: #00d4ff;
        }
        body.dark-mode .navbar{
            background-color: #ffffff;
        }
        .logo {
            font-size: 24px;
            font-weight: bold;
            color: #0052FF;
            
        }
        .nav-links{
            list-style: none;
            display: flex;
            gap: 30px;    
        }
        .nav-links a {
            text-decoration: none;
            color: #333;
            font-weight: 500;
            transition: color 0.3s;
        }
        .nav-links a:hover{
            color:#0052FF;
        }
        .doctor-card {
            background: rgba(255, 255, 255, 0.7); 
            backdrop-filter: blur(10px); 
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 195px;
            min-height: 4px;
            padding: 2px;
            text-align: center;
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        .doctor-card img {
            width: 100px;
            height: 100px;
            object-fit: cover; 
            border-radius: 50%;
            margin: 0 auto 15px;
            border: 3px solid #c4ebf5;
        }
        
        .doctor-card h2 { color: #1a1a1a; margin: 10px 0; }
        .doctor-card p { color: #444; font-size: 0.9rem; }


        body.dark-mode .doctor-card h2 {
            color: #ffffff; 
            text-shadow: 0 2px 4px rgba(0,0,0,0.3);
        }

        body.dark-mode .doctor-card p {
            color: #b0b0b0; 
        }

        body.dark-mode .stars {
            filter: drop-shadow(0 0 5px rgba(255, 215, 0, 0.5)); 
        }

        body.dark-mode .doctor-card {
            background: rgba(20, 20, 25, 0.6);
            border: 1px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
        }

        .doctor-card:hover {
            transform: translateY(-10px) scale(1.02); 
            box-shadow: 0 15px 45px rgba(0, 82, 255, 0.2);
        }
            
        .doctor-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 40px;
        }
        @keyframes pulse-blue {
            0% { box-shadow: 0 0 0 0 rgba(0, 82, 255, 0.7); }
            70% { box-shadow: 0 0 0 15px rgba(0, 82, 255, 0); }
            100% { box-shadow: 0 0 0 0 rgba(0, 82, 255, 0); }
        }

        .find-btn {
            animation: pulse-blue 2s infinite;
        }

        .find-btn:active {
            transform: scale(0.95); 
        }
        .book-btn {
            background-color: #0052FF;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 3cm;
        
        }
        img {
            height: 100px;
            width: 100px;
            border-radius: 50%;
            object-fit: cover;    
        }
        .search-section {
            text-align: center;
            margin: 20px 0;
        }
        #doctorSearch {
            padding: 12px 20px;
            width:400px;
            border: 2px solid #0052FF;
            border-radius: 25px;
            font-size: 16px;
            outline: none;
            
        }
        .book-btn {
           
            transition: background-color 0.4s ease, transform 0.2s;
        }

        .book-btn:active {
            transform: scale(0.95); 
        }
        .booking-section {
            margin-top: 40px;
            padding: 20px;
            background: #f9f9f9;
            border-radius: 15px;
        }

        .appointment-ticket {
            background: white;
            padding: 15px;
            margin-bottom: 10px;
            border-left: 5px solid #28a745; 
            box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        :root{
            --accent-blue: #0052FF;
            --footer-link-color: #ffffff
        }
        body.dark-mode .main-footer {
            filter: invert(1) hue-rotate(180deg);
        }

        .my-name {
            color: var(--accent-blue);
            font-weight: bold;
        }
        .health-card-section {
            text-align: center;
            padding: 40px;
            background: #f0f4ff;
            margin: 20px;
            border-radius: 20px;
        }

        .id-card {
            width: 350px;
            height: 200px;
            background: linear-gradient(135deg, #0052FF 0%, #08338f 100%);
            color: white;
            margin: 20px auto;
            border-radius: 15px;
            padding: 20px;
            position: relative;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
            text-align: left;
        }

        .card-header {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        /* Contact Form */
        .contact-section {
            max-width: 600px;
            margin: 50px auto;
            padding: 30px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 20px;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(0, 82, 255, 0.3);
        }

        .contact-section input, .contact-section textarea {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid #444;
            color: white;
            border-radius: 8px;
        }

        /* Floating Chat */
        .chat-float {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background: #0052FF;
            color: rgb(95, 31, 138);
            padding: 15px 25px;
            border-radius: 50px;
            cursor: pointer;
            box-shadow: 0 5px 15px rgba(0, 82, 255, 0.4);
            z-index: 9999;
        }
        .chat-window {
            position: fixed;
            bottom: 80px;
            right: 20px;
            width: 320px;
            height: 400px;
            background: rgba(20, 20, 30, 0.95); 
            backdrop-filter: blur(15px);
            border: 1px solid rgba(0, 82, 255, 0.4);
            border-radius: 15px;
            display: none;
            flex-direction: column;
            overflow: hidden;
            box-shadow: 0 10px 30px rgba(0,0,0,0.5);
        }
        body.dark-mode .chat-window {
            background: #1a1a1a;
            border: 1px solid #0052FF; 
            box-shadow: 0 0 20px rgba(0, 82, 255, 0.4); 
                }
            .chat-header {
            background: #0052FF;
            color: white;
            padding: 15px;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
        }

        .chat-body {
            flex: 1;
            padding: 15px;
            color: white;
            font-size: 14px;
            overflow-y: auto;
        }
        body.dark-mode .chat-body {
    color: white;
}

        .chat-footer input {
            width: 100%;
            border: none;
            padding: 15px;
            background: rgba(255,255,255,0.05);
            color: white;
        }

        .footer-links a {
            color: #00d4ff; 
            text-decoration: underline;
            font-weight: bold;
        }
        .main-footer{
            background-color: #222;
            color: white;
            padding: 40px 20px;
            text-align: center;
            margin-top: 50px;
        }
        .footer-content p {
            margin-bottom: 20px;
            font-size: 1.1rem;
        }
        .my-name{
            color:#0052FF;
            font-weight: bold;
        }
        .footer-links{
            display:flex;
            justify-content: center;
            gap: 20px;
        }
        .footer-links a:hover{
            color:white;
        }
        
        @media (max-width: 600px) {
            .navbar {
                padding: 15px 20px;
                flex-direction: column; 
                gap: 10px;
            }

            .nav-links {
                gap: 15px;
                font-size: 14px;
            }

            .doctor-card {
                width: 90%; 
            }

            #doctorSearch {
                width: 80%; /* Shrink search bar for mobile */
            }
        }
        /* The actual spinner shape */
            .loader {
                border: 8px solid #f3f3f3; 
                border-top: 8px solid #0052FF; 
                border-radius: 50%;
                width: 50px;
                height: 50px;
                animation: spin 1s linear infinite;
                margin: 20px auto; 
                display: none; 
            }

    
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            
            .stars {
                margin: 10px 0;
                font-size: 1.2rem;
            }

            .delete-btn {
                background: #ff4d4d;
                color: white;
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                cursor: pointer;
                font-weight: bold;
                transition: background 0.3s;
            }

            .delete-btn:hover {
                background: #cc0000;
            }


            .appointment-ticket {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            /* The Reminder Box */
            .reminder-popup {
                position: fixed;
                bottom: 20px;
                left: 20px; 
                background-color: #0052FF;
                color: white;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                transition: right 0.5s ease-in-out; 
                z-index: 9998;
                max-width: 250px;
                display: none;
            }
            .reminder-popup.show {
              display: block;
    animation: fadeInUp 0.5s ease;
            }

            .reminder-btn {
                background: white;
                color: #0052FF;
                border: none;
                padding: 5px 10px;
                margin-top: 10px;
                cursor: pointer;
                border-radius: 5px;
                font-weight: bold;
            }
            .clinic-grid {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                justify-content: center;
                padding: 20px;
            }

            .clinic-card {
                background: rgba(255, 255, 255, 0.1); 
                backdrop-filter: blur(10px);
                border: 1px solid rgba(0, 82, 255, 0.2);
                border-radius: 15px;
                width: 300px;
                padding: 15px;
                transition: 0.3s;
            }

            .clinic-card:hover {
                border-color: #0052FF;
                box-shadow: 0 0 15px rgba(0, 82, 255, 0.3);
            }

            .map-link {
                display: inline-block;
                margin-top: 10px;
                color: #0052FF;
                text-decoration: none;
                font-weight: bold;
            }

            body.dark-mode .clinic-card {
                background: rgba(20, 20, 30, 0.8);
                color: white;
            }
                        .quiz-section {
                background: #eef2ff;
                padding: 30px;
                border-radius: 15px;
                margin: 40px 0;
                text-align: center;
            }
            body.dark-mode .quiz-section {
                background: rgba(0, 82, 255, 0.05);
                border: 2px solid #0052FF;
                box-shadow: 0 0 20px rgba(0, 82, 255, 0.4); 
                transition: all 0.5s ease;
            }

            .quiz-options {
                display: flex;
                justify-content: center;
                gap: 15px;
                margin-top: 20px;
            }

            .quiz-options button {
                padding: 10px 20px;
                border: 2px solid #0052FF;
                background: white;
                color: #0052FF;
                border-radius: 8px;
                cursor: pointer;
                font-weight: bold;
                transition: 0.3s;
            }

            .quiz-options button:hover {
                background: #0052FF;
                color: white;
            }      
            .progress-container {
                width: 100%;
                background-color: #ddd;
                border-radius: 10px;
                margin-bottom: 20px;
                height: 10px;
                overflow: hidden;
            }

            .progress-fill {
                height: 100%;
                width: 33%; 
                background-color: #0052FF;
                transition: width 0.5s ease-in-out;
            }  
            @media print {
            body * {
                visibility: hidden; /
            }
            .id-card, .id-card * {
                visibility: visible; 
            }
            .id-card {
                position: absolute;
                left: 0;
                top: 0;
            }
        } 
        .clinic-section{
            text-align: center;
           
        }
    